@{
    ViewBag.Title = "Class: DatalistSortOrder";
}

<div class="panel panel-default">
    <div class="panel-heading">DatalistSortOrder</div>
    <div class="panel-body">
        <strong>Description</strong>
        <pre>Enumerable for specifying datalist column ordering.</pre>
        <div class="panel-properties">
            <h3>Properties</h3>
            <ul>
                <li>
                    <a href="/Datalist/API/DatalistSortOrder/Asc">Asc</a>
                </li>
                <li>
                    <a href="/Datalist/API/DatalistSortOrder/Desc">Desc</a>
                </li>
            </ul>
        </div>
    </div>
</div>