@{
    ViewBag.Title = "DatalistExtensions.AutocompleteFor";
}

<div class="panel panel-default">
    <div class="panel-heading">AutocompleteFor</div>
    <div class="panel-body">
        <strong>Description</strong>
        <pre>Html helper for creating autocomplete based on datalist functionality.</pre>
        <strong>Remarks</strong>
        <pre>This method should be used on inputs which does not required datalist search dialog.</pre>
    </div>
</div>