@{
    ViewBag.Title = "DatalistExtensions.Datalist";
}

<div class="panel panel-default">
    <div class="panel-heading">Datalist</div>
    <div class="panel-body">
        <strong>Description</strong>
        <pre>Html helper for creating datalist input controls.</pre>
        <strong>Remarks</strong>
        <pre>This method should be used on inputs which require datalist search dialog.</pre>
    </div>
</div>