<div id="Datalist" class="datalist">
    <div class="datalist-search-group">
        <div class="datalist-search-box">
            <input class="datalist-search" />
            <div class="datalist-rows">
                <input />
            </div>
            <div class="datalist-selector">
                <button></button>
            </div>
        </div>
    </div>
    <div class="datalist-loading">
    </div>
    <div class="datalist-error">
    </div>
    <table>
        <thead></thead>
        <tbody></tbody>
    </table>
    <ul></ul>
</div>