<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="~/Content/themes/base/jquery.ui.all.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/Datalist/datalist.css" rel="stylesheet" />
    <link href="~/Content/qunit-1.14.0.css" rel="stylesheet" />
    <link href="~/Content/site.css" rel="stylesheet" />
</head>

<body>
    <a href="https://github.com/NonFactors/MVC.Datalist">
        <img style="position: absolute; top: 0; right: 0; border: 0; z-index: 1040;" src="https://camo.githubusercontent.com/e7bbb0521b397edbd5fe43e7f760759336b5e05f/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f677265656e5f3030373230302e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_green_007200.png">
    </a>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">Datalist</a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-6">
                <ul class="nav navbar-nav">
                    <li><a href="/Datalist/Installation">Installation</a></li>
                    <li><a href="/Datalist/Examples">Examples</a></li>
                    <li><a href="/Datalist/API">API</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container">
        @RenderBody()
        @Html.Partial("_Datalist")
    </div>
    <script src="~/Scripts/jquery-2.1.0.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.10.4.min.js"></script>
    <script src="~/Scripts/Datalist/bind-with-delay.min.js"></script>
    <script src="~/Scripts/Datalist/bootstrap-paginator.min.js"></script>
    <script src="~/Scripts/Datalist/datalist.js"></script>
    @if (ViewContext.RouteData.Values["controller"].ToString() == "Datalist" && ViewContext.RouteData.Values["action"].ToString() == "Tests")
    {
        <script src="/Scripts/qunit-1.14.0.js"></script>
        <script src="/Scripts/Datalist/tests.js"></script>
    }
    else
    {
        <script src="~/Scripts/site.js"></script>   
    }
    
    @RenderSection("scripts", false)
</body>
</html>