@{
    ViewBag.Title = "DatalistAttribute.Type";
}

<div class="panel panel-default">
    <div class="panel-heading">Type</div>
    <div class="panel-body">
        <strong>Description</strong>
        <pre>Specifies type of datalist to be used for property.</pre>
        <strong>Remarks</strong>
        <pre>Property can be decorated with this attribute to not specify datalist type explicitly in <a href="/Datalist/API/DatalistExtensions">DatalistExtensions</a>.<a href="/Datalist/DatalistExtensions/DatalistFor">DatalistFor</a> helper.</pre>
    </div>
</div>