@{
    ViewBag.Title = "DatalistFilter.Id";
}

<div class="panel panel-default">
    <div class="panel-heading">Id</div>
    <div class="panel-body">
        <strong>Description</strong>
        <pre>Property representing id filter value.</pre>
        <strong>Defaults</strong>
        <pre><span class="kwrd">null</span></pre>
        <strong>Remarks</strong>
        <pre>Id value will only be passed then datalist is loaded for the first time. It is used for getting visible value for datalist's autocomplete input.</pre>
    </div>
</div>