@{
    ViewBag.Title = "DatalistFilter.SortColumn";
}

<div class="panel panel-default">
    <div class="panel-heading">SortColumn</div>
    <div class="panel-body">
        <strong>Description</strong>
        <pre>Property representing sort column.</pre>
        <strong>Defaults</strong>
        <pre><span class="kwrd">null</span></pre>
        <strong>Remarks</strong>
        <pre>Sort column will be equal to <a href="/Datalist/API/AbstractDatalist">AbstractDatalist</a>.<a href="/Datalist/API/AbstractDatalist/DefaultSortColumn">DefaultSortColumn</a> unless explicit sort column is specified.
All sort columns values are from <a href="/Datalist/API/AbstractDatalist">AbstractDatalist</a>.<a href="/Datalist/API/AbstractDatalist/Columns">Columns</a> keys.</pre>
    </div>
</div>