@{
    ViewBag.Title = "DatalistColumnAttribute.Position";
}

<div class="panel panel-default">
    <div class="panel-heading">Position</div>
    <div class="panel-body">
        <strong>Description</strong>
        <pre>Specified column position in datalist table.</pre>
        <strong>Defaults</strong>
        <pre><span class="kwrd">null</span></pre>
        <strong>Remarks</strong>
        <pre>Default <a href="/Datalist/API/GenericDatalist">GenericDatalist</a> implementation sorts columns in Ascending order, which keeps null positions in first positions.</pre>
    </div>
</div>